/*----- Typography -----*/

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 20px;
	color: black;
}

/*----- Colors -----*/

.white {
	background-color: white;
}

.color1a {
	background-color: #026092;
}
.color1b {
	background-color: #009ef4;
}
.color2 {
	background-color: #ffff91;
}
.color3 {
	background-color: #ff809a;
}

/*----- Buttons & Input -----*/

button {
	background-color: #009ef4;
}
